.container {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
          'header-skin header-skin header-skin header-skin'
          'side-manu content1 content2 content3'
          'side-manu content4 content5 content6'
          'content7 content8 content9 content10'
          'footer footer footer footer';
}
.container div {
  background-color: rgb(52, 187, 81);
  padding: 20;
  border: 1px solid #000;
}
.header-skin {
  grid-area: header-skin;
}
.side-manu {
  grid-area: side-manu;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
}
.content5 {
  grid-area: content5;
}
.content6 {
  grid-area: content6;
}
.content7 {
  grid-area: content7;
}
.content8 {
  grid-area: content8;
}
.content9 {
  grid-area: content9;
}
.content10 {
  grid-area: content10;
}
.footer {
  grid-area: footer;
}